.transactionList {
  max-width: 800px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.transactionList h2 {
  margin-bottom: 15px;
  font-size: 1.5rem;
  color: #333;
  text-align: center;
  width: 100%;
}

.columns {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.column {
  width: 48%;
}

.column h3 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

.column ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.column li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-size: 1rem;
  color: #555;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column li:last-child {
  border-bottom: none;
}

.income {
  background-color: #d4edda;
}

.expense {
  background-color: #f8d7da;
}

.icons {
  display: flex;
  gap: 10px;
}

.icon {
  cursor: pointer;
  color: #303030;
  margin: 5px;
}

.icon:hover {
  color: #696969;
}
.incomeExpense{
  display: flex;
  flex-direction: row;
  margin: 5px;
  gap: 20px;
}

.total {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 10px;
  text-align: right;
  
}

.balance {
  margin-top: 20px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}
